@media only screen and (min-width: 1200px){
@import "sass.css";

body{ margin: 0; 
    padding: 0; 
}

.navbar{
    width:100vw;
    height: 54px;
    display: flex;
    justify-content:center;
    background-color: var(--Additional_Color_White);
    opacity:1;
    z-index:1;
}
.navbar .navbarContainer{
    width:1200px;
    display: flex;
    justify-content: space-between
}

.LOGO{
    margin: 10px 0 10px 0;
}
.LOGO a{
    text-decoration:none;
    color:var(--Primary_Color_70);
    font-family:var(--Header_2_Bold_Typeface);
    font-weight:var(--Header_2_Bold_Weight);
    font-size:var(--Header_2_Bold_Size);
    line-height:var(--Header_2_Bold_Line_Height);
}

.navlink{
    display: flex;
}
.navlink div{
    margin: 20px 0 20px 0;
}
.navlink #book{
    margin: 20px 20px 20px 0;
}
.navlink a:hover{
    cursor: pointer;
}

.navlink a{
    text-decoration:none;
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky + .content {
    padding-top: 54px;
  }



.banner{
    background-image:url("../image/welcome.png");
    height: 20vw;
    width: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .bannerContainer{
    position: absolute;
    width:  auto;
    margin-top: 4.5vw;
    margin-left: 18vw;
}
.banner .bannerContainer .bannerHead{
    margin-top: 0px;
    color:var(--Secondary_Color_10);
    font-family:var(--Header_1_Bold_Typeface);
    font-weight:var(--Header_1_Bold_Weight);
    font-size:var(--Header_1_Bold_Size);
    line-height:var(--Header_1_Bold_Height);
}

.banner .bannerContainer .bannerBody{
    margin-top: 15px;
    color:var(--Secondary_Color_10);
    font-family:var(--Body_Bold_Typeface);
    font-weight:var(--Body_Bold_Weight);
    font-size:var(--Body_Bold_Size);
    line-height:var(--Body_Bold_Height);
}
.bannerContainer button{
    background-color:var(--Primary_Color_70);
    border: none;
    width:60px;
    height:46px;
    color: var(--Additional_Color_White);
    position: absolute;
    border: none; /* <-- This thing here */
    border:solid 1px var(--Primary_Color_70);
    border-radius: 0 10px 10px 0;

}
.bannerContainer button img{
    
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.searchContainer{
    margin-top:25px;
}

.viewSearch{
    height:46px;
    width: 400px;
    border: none; /* <-- This thing here */
    border:solid 1px var(--Additional_Color_White);
    border-radius: 10px 0 0 10px;
}
input::placeholder {
    margin-left: 10px;
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Bold_Typeface);
    font-weight:var(--Body_Bold_Weight);
    font-size:var(--Body_Bold_Size);
    line-height:var(--Body_Bold_Height);
  }
input{
    padding: 15px;
}
.categoriesList{
    display:none;
    margin-top: 5px;
    height:auto;
    width: 400px;
    border: none;
    border:solid 1px var(--Additional_Color_White);
    background-color:var(--Additional_Color_White);
    border-radius: 10px 10px 10px 10px;
    justify-content:center;
    align-items: center;
    position: relative;
    z-index:1;
    
}
.categoriesListGridContainer{
    margin-right: 40px;
    width:400px;
    display: grid;
    gap: 0px;
    grid-template-columns:auto auto auto;
    background-color:var(--Additional_Color_White);
    border: none;
    border:solid 1px var(--Additional_Color_White);
    border-radius: 10px 10px 10px 10px;
   
}
.gridCategoryTitle{
    display: flex;
    justify-content:center;
    align-items: left;
    width: 120px;
    height: 40px;
    background-color:var(--Additional_Color_White);
    border: none; 
    border:solid 1px var(--Additional_Color_White);
    border-radius: 10px 10px 10px 10px;
}

.gridCategoryTitle:hover{
    width: 120px;
    height: 40px;
    background-color:var(--Secondary_Color_20);
}
.gridCategoryTitle a{
    padding: 10px;
    color:var(--Additional_Color_Black);
    font-family:var(--Category_List_Typeface);
    font-weight:var(--Category_List_Weight);
    font-size:var(--Category_List_Size);
    line-height:var(--Category_List_Height);
}
/************************loginModal************************/

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,0.4); /* Fallback color */
    }

#loginModal .modal-content {
    background-color: var( --Additional_Color_White);
    /* border-image: var(--Additional_Color_Dark_Cyan_Gradient_0deg) 1; */
    display: flex;
    justify-content: center;
    width: 340px;
    height: 275px;
    border-radius: 6px;
    position: relative; 
    top:80px;
    left: 50%;
    transform: translate(-50%,0);
    }
#loginModal .modal-content:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: calc(100% - 10px);
    left: 0;
    z-index: -1;
    margin: 0;
    border-radius: 6px 6px 0 0;
    background-image: var( --Additional_Color_Dark_Cyan_Gradient_0deg);
}
#loginModal .modal-content .tittle{
    position: absolute;
    display: flex;
    top:25px;
    left:15px;
    width: 310px;
    height: 27px;
    color:var(--Secondary_Color_70);
    font-family:var(--Header_3_Bold_Typeface);
    font-weight:var(--Header_3_Bold_Weight);
    font-size:var(--Header_3_Bold_Size);
    line-height:var(--Header_3_Bold_Height);
    justify-content: center;
}
#loginModal .modal-content .close{
    all: unset;
    background-image:url("../image/icon_close.png");
    position: absolute;
    width: 16px;
    height: 16px;
    top:2px;
    right:2px;
}

#loginModal .modal-content .close:hover{
    cursor: pointer;
}

#loginModal .modal-content .inputEmail{
    position: absolute;
    width: 310px;
    height: 47px;
    top:67px;
    left:15px;
}
#loginModal .modal-content .inputEmail input{
    position: relative;
    width: 280px;
    height: 20px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
    justify-content: center;
    padding: 15px;
}
#loginModal .modal-content .inputEmail input::placeholder{
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
}
#loginModal .modal-content .inputPassword{
    position: absolute;
    width: 310px;
    height: 47px;
    top:124px;
    left:15px;
}
#loginModal .modal-content .inputPassword input{
    position: relative;
    display: flex;
    width: 280px;
    height: 20px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
    justify-content: center;
}
#loginModal .modal-content .inputPassword input::placeholder{

    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
}

#loginModal .modal-content .inputSubmit{
    position: absolute;
    width: 310px;
    height: 47px;
    top:181px;
    left:15px;
}
#loginModal .modal-content .inputSubmit button{
    background-color: var( --Primary_Color_70);
    width: 310px;
    height: 47px;
    top:181px;
    left:15px;
    border:none;
    border-radius: 5px;
}
#loginModal .modal-content .inputSubmit button:hover{
    cursor: pointer;
}
#loginModal .modal-content .inputSubmit button span{
    width: 270px;
    height: 27px;
    color:var(--Additional_Color_White);
    font-family:var(--Body_Reg_Typeface);
    font-weight:var(--Body_Reg_Weight);
    font-size:var(--Body_Reg_Size);
    line-height:var(--Body_Reg_Height);
}

#loginModal .modal-content .message{
    position:absolute;
    display: flex;
    width: 310px;
    height: 22px;
    top:238px;
    left:15px;
    justify-content: center;
}

#loginModal .modal-content .switchRegist{
    position:absolute;
    display: flex;
    width: 310px;
    height: 22px;
    top:238px;
    left:15px;
    justify-content: center;
}
#loginModal .modal-content .switchRegist span{
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
}
#loginModal .modal-content .switchRegist span a:hover{
    cursor: pointer;
}

/************************registModal************************/
#registModal .modal-content {
    background-color: var( --Additional_Color_White);
    /* border-image: var(--Additional_Color_Dark_Cyan_Gradient_0deg) 1; */
    display: flex;
    justify-content: center;
    width: 340px;
    height: 332px;
    border-radius: 10px;
    position: relative; 
    top:80px;
    left: 50%;
    transform: translate(-50%, 0);
}

#registModal .modal-content::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: calc(100% - 10px);
    left: 0;
    z-index: -1;
    margin: 0px;
    border-radius: 6px 6px 0 0;
    background-image: var( --Additional_Color_Dark_Cyan_Gradient_0deg);
}
#registModal .modal-content .tittle{
    position: absolute;
    display: flex;
    top:25px;
    left:15px;
    width: 310px;
    height: 27px;
    color:var(--Secondary_Color_70);
    font-family:var(--Header_3_Bold_Typeface);
    font-weight:var(--Header_3_Bold_Weight);
    font-size:var(--Header_3_Bold_Size);
    line-height:var(--Header_3_Bold_Height);
    justify-content: center;
}
#registModal .modal-content .close{
    all: unset;
    background-image:url("../image/icon_close.png");
    position: absolute;
    width: 16px;
    height: 16px;
    top:2px;
    right:2px;
}
#registModal .modal-content .close:hovor{
    cursor: pointer;
}
#registModal .modal-content .inputUsername{
    position: absolute;
    width: 310px;
    height: 47px;
    top:67px;
    left:15px;
}
#registModal .modal-content .inputUsername input{
    position: relative;
    width: 280px;
    height: 20px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
    justify-content: center;
    padding: 15px;
}
#registModal .modal-content .inputUsername input::placeholder{
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
}
#registModal .modal-content .inputEmail{
    position: absolute;
    width: 310px;
    height: 47px;
    top:124px;
    left:15px;
}
#registModal .modal-content .inputEmail input{
    position: relative;
    width: 280px;
    height: 20px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
    justify-content: center;
    padding: 15px;
}
#registModal .modal-content .inputEmail input::placeholder{
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
}
#registModal .modal-content .inputPassword{
    position: absolute;
    width: 310px;
    height: 47px;
    top:181px;
    left:15px;
}
#registModal .modal-content .inputPassword input{
    position: relative;
    display: flex;
    width: 280px;
    height: 20px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
    justify-content: center;
}
#registModal .modal-content .inputPassword input::placeholder{

    color:var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
}

#registModal .modal-content .inputSubmit{
    position: absolute;
    width: 310px;
    height: 47px;
    top:238px;
    left:15px;
}
#registModal .modal-content .inputSubmit button{
    background-color: var( --Primary_Color_70);
    width: 310px;
    height: 47px;
    top:181px;
    left:15px;
    border:none;
    border-radius: 5px;
}
#registModal .modal-content .inputSubmit button:hover{
    cursor: pointer;
}
#registModal .modal-content .inputSubmit button span{
    width: 270px;
    height: 27px;
    color:var(--Additional_Color_White);
    font-family:var(--Body_Reg_Typeface);
    font-weight:var(--Body_Reg_Weight);
    font-size:var(--Body_Reg_Size);
    line-height:var(--Body_Reg_Height);
}
#registModal .modal-content .message{
    position:absolute;
    display: flex;
    width: 310px;
    height: 22px;
    top:295px;
    left:15px;
    justify-content: center;
}
#registModal .modal-content .switchLogin{
    position:absolute;
    display: flex;
    width: 310px;
    height: 22px;
    top:295px;
    left:15px;
    justify-content: center;
}
#registModal .modal-content .switchLogin span{
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
}
#registModal .modal-content .switchLogin span a:hover{
    cursor: pointer;
}

.viewFlexContainer{
    margin-top: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.viewGridContainer{
    display: grid;
    gap: 30px;
    grid-template-columns: 270px 270px 270px 270px;
}
.gridItem {
        
    display: flex;
    height:auto;
    border: 1px solid var(--Secondary_Color_20);
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width:270px;
    height: auto;

}
.gridItem img{
    width: 270px;
    height: 197px;
    border-radius: 10px 10px 0px 0px;
}
.gridItem .gridItemTitle{
    display: flex;
    font-weight:var(--Body_Bold_Weight);
    font-size:var(--Body_Bold_Size);
    line-height:var(--Body_Bold_Height);
    width:100%;
    height: 40px;
    background-color:var(--Additional_Color_Black);
    align-items:center;
    justify-content:left;
    position: absolute;
    opacity:0.6;
    top:157px;
    
}
.gridItem .gridItemTitle a{
    color: var(--Additional_Color_White);
    font-family:var(--Body_Bold_Typeface);
    margin: 10px;
}
.gridItem .gridItemInfo{
    position: relative;
    display: flex;
    flex-direction: row;
    width:100%;
    height: 45px;
    color: var(--Secondary_Color_50);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);

}


.mrtName{
    width:50%;
    display: flex;
    align-items:center;
    justify-content:left;
}
.mrtName a{
    margin: 10px;
}

.categoryName{
    width:50%;
    display: flex;
    align-items:center;
    justify-content:right;
}
.categoryName a{
    margin: 10px;
}

.footer{
    height: 100px;
    width:100%;
    background-color: var(--Secondary_Color_50);
    color: var(--Additional_Color_White);
    display: grid;
    place-items: center;
    position: absolute;
    top: calc(100vh - 100px);
    font-size:var(--Body_Bold_Size);
  }

}