@media only screen and (min-width: 601px) and (max-width: 1199px) {
  @import "sass.css";

  body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    width: 100vw;
    height: 54px;
    display: flex;
    justify-content: center;
    background-color: var(--Additional_Color_White);
    opacity: 1;
    z-index: 1;
  }
  .navbar .navbarContainer {
    width: 94vw;
    display: flex;
    justify-content: space-between;
  }

  .LOGO {
    margin: 10px 0 10px 0;
  }
  .LOGO a {
    text-decoration: none;
    color: var(--Primary_Color_70);
    font-family: var(--Header_2_Bold_Typeface);
    font-weight: var(--Header_2_Bold_Weight);
    font-size: var(--Header_2_Bold_Size);
    line-height: var(--Header_2_Bold_Line_Height);
  }

  .navlink {
    display: flex;
  }
  .navlink div {
    margin: 20px 20px 20px 0;
  }
  .navlink a {
    text-decoration: none;
    color: var(--Secondary_Color_70);
    font-family: var(--Body_Med_Typeface);
    font-weight: var(--Body_Med_Weight);
    font-size: var(--Body_Med_Size);
    line-height: var(--Body_Med_Height);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 54px;
  }
  .content{
    position: relative;
    top:37px;
    display:grid;
    place-items: center;
  }
  .contentContainer{
    width: 94vw;
    
  }
  /************************* slider *************************/
  .gridContainer{
    display:grid;
    grid-template-columns:45vw 45vw;
    gap:30px;

  }
  .slideshowContainer{
    position: relative;
    width:45vw;
    height: 64vw;
  }
  .bookContainer{
    position:relative;
    width:45vw;
    height: 64vw;
  }
  .Slides img{
    width:45vw;
    height: 64vw;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    padding: 16px;
    margin-top: -22px;
    opacity: .4; 
    transition: 0.6s ease;
    user-select: none;

  }
  .next {
    right: 10px;
  }
  .prev{
    left:10px;
  }
  .prev:hover, .next:hover {
    opacity: 1; 
  }
  .dotContainer{
    position: absolute;
    width:100%;
    top:calc(100% - 30px);
    text-align:center
  }
  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-left: 12px;
    background-color: var(--Additional_Color_White);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: var(--Additional_Color_Black);
  }
  hr.solid {
    border-top: 30px solid #bbb;
  }
  /************************* form *************************/
  #tittle{
    height: 33px;
    width: 40vw;
    color:var(--Secondary_Color_70);
    font-family:var(--Header_3_Bold_Typeface);
    font-weight:var(--Header_3_Bold_Weight);
    font-size:var(--Header_3_Bold_Size);
    line-height:var(--Header_3_Bold_Height);
    
  }
  #categoryAndMrt{
    height: 22px;
    width: 40vw;
    margin-top:15px;
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
  }
  form{
    width:100%;
    margin-top: 20px;
    background-color:var(--Secondary_Color_20);
    
  }
  #formTittle{
    width: 40vw;
    height: 22px;
    padding-top: 15px;
    padding-left:20px;
    
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Bold_Typeface);
    font-weight:var(--Body_Bold_Weight);
    font-size:var(--Body_Bold_Size);
    line-height:var(--Body_Bold_Height);
  }
  #formAbstract{
    width: 40vw;
    height: 22px;
    /* padding-top: 15px;
    padding-left:20px; */
    display: inline-block;
    margin-top: 15px;
    margin-left:20px;
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
  }

  #formDate{
    display: inline-block;
    width: 40vw;
    height: 22px;
    padding-top: 15px;
    padding-left: 20px;
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
  }
  #formDate input[type='date']{
    border: none;
  }
  #formDate input[type='date']::-webkit-datetime-edit-fields-wrapper{
    width:149px;
    height: 25px;
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
    padding:3px 0px 3px 10px;
  }
  #formDate input[type='date']::-webkit-calendar-picker-indicator{
    width: 20px;
    height: 20px;
    padding: 3px 10px 3px 59px;
  }

  #formPeriod{
    width: 40vw;
    height: 22px;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    align-content: center;
  }
  #formPeriod .labelTittle{
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Bold_Typeface);
    font-weight:var(--Body_Bold_Weight);
    font-size:var(--Body_Bold_Size);
    line-height:var(--Body_Bold_Height);

  }
  #formPeriod input[type='radio']{
    margin-top: 0px;
    position: relative;
    appearance: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }
  #formPeriod input[type='radio']+label{
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
  }
  #formPeriod input[type='radio']:checked {
    background-color: var(--Primary_Color_70);
    border: 2px solid var(--Additional_Color_White);

  }

  #cost{
    width: 40vw;
    height: 22px;
    display: inline-block;
    /* padding-top: 15px;
    padding-left:20px; */
    margin-top: 15px;
    margin-left:20px;
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Med_Typeface);
    font-weight:var(--Body_Med_Weight);
    font-size:var(--Body_Med_Size);
    line-height:var(--Body_Med_Height);
  }

  #submit{
    width: 154px;
    height: 36px;
    margin-top: 25px;
    margin-left: 20px;
    background-color: var(--Primary_Color_70);
    border:none;
    color:var(--Additional_Color_White);
    font-family:var(--Button_Reg_Typeface);
    font-weight:var(--Button_Reg_Weight);
    font-size:var(--Button_Reg_Size);
    line-height:var(--Button_Reg_Height);
    border-radius: 5px 5px 5px 5px;
  }
  
  hr{
    width:94vw;
    position:relative;
    margin-top:40px;
    margin-bottom: 50px;
  }
  /************************* form *************************/
  .infoContainer{
    width:94vw;
    display:grid;
    place-items: center;
  }
  #description,#adressContent,#transportContent{
    width: 91vw;
    height: auto;
    color:var(--Secondary_Color_70);
    font-family:var(--Content_Reg_Typeface);
    font-weight:var(--Content_Reg_Weight);
    font-size:var(--Content_Reg_Size);
    line-height:var(--Content_Reg_Height);
  }
  

  #adressTittle,#transportTittle{
    width: 91vw;
    height: auto;
    color:var(--Secondary_Color_70);
    font-family:var(--Body_Bold_Typeface);
    font-weight:var(--Body_Bold_Weight);
    font-size:var(--Body_Bold_Size);
    line-height:var(--Body_Bold_Height);
  }
  #adressTittle,#transportTittle{
    padding-top: 20px;
  }


  /* footer */
  .footer{
    height: 15vw;
    width:100vw;
    background-color: var(--Secondary_Color_50);
    color: var(--Additional_Color_White);
    display: grid;
    place-items: center;
    top:calc(100vh - 15vw);
    font-size:var(--Body_Bold_Size);
  }
}
