<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/sass.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/booking.css')}}"
    />
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0" defer></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/setting.js')}}"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/TapPay.js')}}"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.2.0/redux.min.js"
      integrity="sha512-1/8Tj23BRrWnKZXeBruk6wTnsMJbi/lJsk9bsRgVwb6j5q39n0A00gFjbCTaDo5l5XrPVv4DZXftrJExhRF/Ug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" defer>
      import {
        myNav,
        sticky,
        jwtCheck,
        logout,
      } from "{{url_for('static', filename='js/Components/myNav.mjs')}}";

      import { checkRwd } from "{{url_for('static', filename='js/checkRwd.mjs')}}";
      import { myLoginModal } from "{{url_for('static', filename='js/Components/myLoginModal.mjs')}}";
      import { myRegisterModal } from "{{url_for('static', filename='js/Components/myRegisterModal.mjs')}}";
      import { bookingPage } from "{{url_for('static', filename='js/Components/booking.mjs')}}";
      import { footer } from "{{url_for('static', filename='js/Components/footer.mjs')}}";

      window.customElements.define("my-nav", myNav);
      window.customElements.define("my-loginmodal", myLoginModal);
      window.customElements.define("my-registermodal", myRegisterModal);
      window.customElements.define("my-bookingpage", bookingPage);
      window.customElements.define("my-footer", footer);

      window.onscroll = () => {
        sticky();
      };
      window.onresize = () => {
        let rwd = checkRwd();
        const nav = document.querySelectorAll("my-nav")[0];
        const bookingpage = document.querySelectorAll("my-bookingpage")[0];
        nav.setAttribute("rwd", rwd);
        bookingpage.setAttribute("rwd", rwd);
      };

      const res = await jwtCheck();
      if (res === null) {
        window.location.href = "/";
      } else {
        const bookingtitle = document.querySelectorAll(".booktitle span")[0];
        const userName = document.querySelectorAll("#userNameInput")[0];
        const userEmail = document.querySelectorAll("#userEmailInput")[0];
        bookingtitle.textContent = `您好，${res[0]}，待預定行程如下：`;
        userName.value = res[0];
        userEmail.value = res[1];
      }
      let rwd = checkRwd();
      const nav = document.querySelectorAll("my-nav")[0];
      const bookingpage = document.querySelectorAll("my-bookingpage")[0];
      nav.setAttribute("rwd", rwd);
      bookingpage.setAttribute("rwd", rwd);
    </script>
    <title>Taipei Trip</title>
  </head>
  <body>
    <my-nav sticky="no" jwt="no"></my-nav>
    <my-loginmodal></my-loginmodal>
    <my-registermodal></my-registermodal>
    <div class="bookingPageContainer">
      <div class="booktitle"><span></span></div>
    </div>
    <my-bookingpage></my-bookingpage>
    <hr />
    <div class="userInfoContainer">
      <div class="userInfoCard">
        <div class="userInfoTitle">
          <span>您的聯絡資訊</span>
        </div>

        <div class="user">
          <label for="userNameInput" class="label">聯絡姓名：</label>
          <input type="text" id="userNameInput" class="input" />
        </div>
        <div class="user">
          <label for="userEmailInput" class="label">聯絡信箱：</label>
          <input type="text" id="userEmailInput" class="input" />
        </div>
        <div class="user">
          <label for="userPhoneInput" class="label">手機號碼：</label>
          <input type="text" id="userPhoneInput" class="input" />
        </div>
        <div class="userMessage">
          <span
            >請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</span
          >
        </div>
      </div>
    </div>
    <hr />
    <div class="creditCardInfoContainer">
      <div class="creditCardInfoCard">
        <div class="creditCardInfoTitle"><span>信用卡付款資訊</span></div>
        <div class="creditCard">
          <div class="label">卡片號碼：</div>
          <div class="tpfield" id="card-number"></div>
          <div class="label">過期時間：</div>
          <div class="tpfield" id="card-expiration-date"></div>
          <div class="label">驗證密碼：</div>
          <div class="tpfield" id="card-ccv"></div>
        </div>
      </div>
    </div>
<div class="orderContainer">
<div class="ordercard">
  <div class="orderInfo"></div>
  <button class="orderButton" onclick="clickOrder()">確認訂購與付款</button>
</div>
</div>
    <my-footer></my-footer>
  </body>
</html>
